body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
 
  /* Estilos del encabezado */
  header {
    background-color: #e97a0b;
    color: #fefefe;
    padding: 10px;
    text-align: center;
  }
 
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  nav li {
    display: inline-block;
  }
 
  nav a {
    color: #fbfbfb;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
 
  nav a:hover {
    background-color: #444;
  }
 
  /* Estilos del contenido principal */
  main {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
  }
 
  h1 {
    font-size: 46px;
    margin-bottom: 20px;
    text-align: center;
  }
 
  h2 {
    font-size: 30px;
  }
 
  h3 {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
 
  form label {
    display: block;
    margin-bottom: 10px;
  }
 
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
  }
 
  textarea {
    height: 150px;
  }
 
  button[type="submit"] {
    background-color: #222;
    border: none;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
 
  button[type="submit"]:hover {
    background-color: #444;
  }
 

  .login-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
  }

  .login-button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }


  /* Estilos del pie de página */
  footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
 
  #contenedorProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que los productos se envuelvan en caso de no caber en una sola fila */
  }
 
  .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Ancho deseado de cada producto */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
 
  .producto img {
    max-width: 100%;
    max-height: 150px; /* Altura máxima deseada para la imagen */
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
  }
 
  .producto h3 {
    margin-top: 5px;
    font-size: 18px;
  }
 
  .producto p {
    font-size: 14px;
    color: #666;
  }
 
  .producto p {
    font-size: 14px;
    color: #666;
  }
 
  /* Reset some default styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  /* Set styles for the body */
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #eceaea;
  }
 
  /* Style the header */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
 
  header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
 
  /* Style the sections */
  section {
    margin-bottom: 20px;
    background-color: #f2f6d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
 
  section label {
    font-weight: bold;
    color: #666;
  }
 
  /* Style the input fields */
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 
  input[type="text"]:focus,
  input[type="file"]:focus {
    outline: none;
    border-color: #3399ff;
    box-shadow: 0 0 5px rgba(51, 153, 255, 0.5);
  }
 
  /* Style the buttons */
  button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #3399ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  button:hover {
    background-color: #267acc;
  }
 
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
 
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
 
  /* Style the image */
  #imagen {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
 
  /* Estilos para la tabla de alumnos */
  table#tablaAlumnos {
    width: 100%;
    border-collapse: collapse;
  }
 
  table#tablaAlumnos th,
  table#tablaAlumnos td {
    border: 1px solid #ccc;
    padding: 10px;
  }